/* Give your page a fun background color */
body {
    background-color: gold;
}
/* Make the header and footer a different color from the background */
header {
    background-color: coral;
}

footer {
    background-color: coral;;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    font-style: italic;
    color:blue;
}
/* Put a border around your image */
img {
    border: 10px solid black;
}
/* Change the font-family of your list */
ul {
    font-family: Arial, Helvetica, sans-serif;
}